useDynLib(wbgt)
export(wbgt)
export(wbgt_df)
export(calc_solar)
export(calc_irrad)
export(calc_wind)
export(calc_cyl_air)
export(calc_viscosity)
export(calc_thermal_cond)
export(calc_h_evap)
export(calc_esat)